{% extends 'base.html' %}

{% block title %}Article: detail{% endblock title %}

{% block container %}
{% comment %} url + app name + index page {% endcomment %}
  {% comment %} <a href="{% url 'articles:index' %}">[목록]</a>  {% endcomment %}
  <h2>{{ article.title }}</h2>
  <p>{{ article.created_at }}</p>
  <p class="text-secondary"> 작성자: {{ article.user }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <hr>
  
  {% comment %} 작성자 == 로그인한 유저일 때에만 수정하기 버튼이 보임 {% endcomment %}
  {% if article.user == request.user %}
  <a href=" {% url 'articles:update' article.pk %} ">[수정하기]</a>
  <hr>
  {% endif %}
 

  {% if article.user == request.user %}
  {% comment %} /articles/3/delete/로 보내야 하니까 action {% endcomment %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">삭제하기</button>
  </form>
  <hr>
  {% endif %}


  {% comment %} comment 작성 {% endcomment %}
  {% if user.is_authenticated %}
  <form action=" {% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">댓글쓰기</button>
  </form>
  {% else %}
  <a href=" {% url 'accounts:login' %} ">댓글작성은 로그인 후 가능합니다</a>
  {% endif %}
  <hr>

  {% comment %} 댓글표시 {% endcomment %}
  <ul>
  {% for comment in comments %}
    <li>
      {% if request.user == comment.user or request.user == article.user %}
      <form method="POST" action=" {% url 'articles:comments_delete' article.pk comment.pk %} ">
        {% csrf_token %}
        <p>
        <span class="text-primary">
        [{{ comment.user }}]{{ comment.content }} ({{ comment.created_at }})
        </span> 
        <button type="submit" class="btn btn-link">삭제하기</button>
        </p>
      </form>
      {% comment %} 로그인이 안 되어 있으면 내용만 보여준다 {% endcomment %}
      {% else %}
      <span>[{{ comment.user }}] {{ comment.content }} ({{ comment.created_at }})</span>
      {% endif %}
    </li>
  {% endfor %}
  </ul>


{% endblock container %}