{% extends 'base.html' %}

{% block title %}Article: Index{% endblock title %}

{% block container %}
  <h2>Article list</h2>

  {% if user.is_authenticated %}
  <a href="{% url 'articles:create' %}">[생성하기]</a>
  {% else %}
  <p> 회원가입 후 게시글을 작성해 주세요!</p>
  <a href=" {% url 'accounts:signup' %} ">회원가입하기</a>
  {% endif %}
  <hr>
  
  {% for article in articles %}
  <div>
    <h3>{{ article.pk }}. {{ article.title }}</h3>
    <p class="text-secondary"> 작성자: {{article.user}} </p>
    {% comment %} article:detail 페이지로 넘어간다. {% endcomment %}
    <a href=" {% url 'articles:detail' article.pk %} ">[상세보기]</a>
  </div>
  <br>
  {% endfor %}
{% endblock container %}