<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
</head>

<body>
  <header>
    <h1>페이지에 오신 걸 환영합니다:)</h1>

    {% comment %} user은 templates 가 기본적으로 가지고 있는 것이므로 따로 정의 안해도 사용 가능함 {% endcomment %}
    <span><h2>안녕하세요, {{ user.username }}님!</h2></span>
    <p> <a href="{% url 'accounts:logout' %}">로그아웃</a></p>
    <hr>

    <a href="{% url 'articles:index' %}">[목록]</a> 
    <hr>
  </header>
  {% block container %}{% endblock container %}
</body>
</html>